body {
  background: #778beb;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .container {
    .main-title {
      font-size: 50px;
    }
    button {
      margin: 5px;
      background-color: transparent;
      border: none;
      color: white;
      font-size: 30px;
      text-align: center;
    }
    .length-control {
      display: inline-block;
      padding: 10px;
      font-size: 30px;
      text-align: center;
      vertical-align: center;
      span {
        position: relative;
        // top: 5px;
      }
    }
    .timer-container {
      font-size: 40px;
      border: 2px solid white;
      padding: 20px;
      border-radius: 10px;
      .countdown {
        font-size: 30px;
        margin-top: 10px;
      }
    }
    .play-control {
      margin: 20px;
    }
  }
}

@media screen and (max-width: 500px) {
  #container {
    transform: scale(0.8);
  }
}
